body {
  padding: 20px;
  text-align: center;
  font-family: 'Source Code Pro';
}

h1 {
  font-family: 'Source Code Pro';
  color: RGBA(12, 44, 82, 1.00);
}

.converter-container {
  width: 340px;
  margin: 0 auto;
  border-style: double;
  border-color: RGBA(185, 85, 138, 1.00);
  background-color: RGBA(178, 224, 237, 1.00);
}

input {
  margin-right: 10px;
  padding: 10px;
  border: 3px solid RGBA(185, 85, 138, 1.00);
  border-radius: 4px;
}

input:focus {
  border-color: #afafaf;
  outline: none;
  color: black;
}

button {
  font-size: 14px;
  padding: 10px;
  color: white;
  border: double;
  border-radius: 4px;
  outline: none;
  background: RGBA(185, 85, 138, 1.00);
  cursor: pointer;
}

/* Error styles
   ================================================================ */

/* This class shoud be added to the input if the user has not entered a value */
.error {
  border-color: red;
}

/* This error message should fade in if the user has not entered a value */
.error-message {
  color: white;
  border: 3px solid red;
  border-radius: 4px;
  display: none; /*Hidden by default*/
  background-color: rgba(255, 0, 0, .6);
  padding: 10px;
}
