body {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
	font-weight: 200;
	font-size: 15px;
	color: white;
	margin: 0px;
	padding: 20px;
	margin-left: 300px;
	margin-right: 300px;
	background-image: url("sanfrancisco-treasureisland.jpg");
	background-size: cover;
	background-color: white;
	background: rgba(0 0 0 0.7);
}
element.style	{
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #BFEFFF;
}
h2 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
h3 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
a {
	color: #BFEFFF;
}
nav {
	color: #BFEFFF;
	text-align: center;
}